<h1>Detalle del usuario</h1>

<h2>Nombre:</h2> <%= @user.name %> 
<br/>
<h2>Email:</h2> <%= @user.email %> 
<br/><br/>
<h2>Avatar:</h2> <%= image_tag @user.avatar.thumb_medium.url %>

<%= link_to 'Volver al listado', url_for(controller: :users, action: :index) %>
